
body {
    background-color: lightsteelblue;
}
.secret {
    display: none;
}

.show {
    display : inline;
}

#adder {
    position:relative;
    bottom: 100px;
}
#addingStudents {
    position: relative;
    bottom: 110px;
}
#addingTeachers{
    position: relative;
    bottom: 110px;
}
#addingSect{
    position: relative;
    bottom: 110px;
}

#addSectMax {
    position:relative;
    bottom:-20px;
    margin-bottom: 20px;
    right: 131px;
}

.field2 {
    position:relative;
    bottom:-20px;
    margin-bottom: 20px;
    right: 135px;
}
.field3 {
    position:relative;
    bottom:-40px;
    margin-bottom: 20px;
    right: 270px;
}

#students {
    background-color: beige;
}

#teacher {
    background-color: beige;
}

.fini {
    position: relative;
    right: 220px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: lightcoral;
}
#addsectbutton {
    position:relative;
    left: 180px;
    bottom: 155px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: lightcoral;
}


#startsearch {
    position: relative;
    margin-top: 5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: lightcoral;
}

#displayTable button {
    background-color: bisque;
}

.descriptor {
    position:relative;
    margin-bottom:0;
    margin-top: 0;
}

#searchMain {
    position: relative;
    left: 80%;
    width:300px;
    height:120px;
}


#searchstu {
    position: relative;
}
#searchtea {
    position:relative;
}
#searchsec{
    position:relative;
}
#searchDisplay{
    position:relative;
    width:30%;
    bottom: -90%;
    right:20%;
}

#displayTable {
    position:fixed;
    top:20%;
    padding-top:0;
    left:33%;
    width:33%;
    border: 1px black solid;
}

#displayTable td {
    text-overflow-mode: wrap;
    border: 1px black solid;
    padding-top:0;
}
#allList td {
    text-overflow-mode: wrap;
    border: 1px black solid;
    padding-top:0;
}

.small {
    position:relative;
    left: 100%;
}

.fancy {
    background-color: darkkhaki;
    padding-top: 0;
    margin-top:0;
}

.studentTable {
    border: none;
    margin-left: 0;
    margin-right: 10%;
}

.titletext {
    margin-bottom: 0;
}

input {
    background-color: beige;
}

#title {
    text-align: center;
    font-size: 20px;
    color: #010158;
}