/*
* relative positioning!!
 */

.secret {
    display: none;
}

.show {
    display : inline;
}

table {
    border: 1px black solid;
    background-color: inherit;
    margin-left:33%;
    margin-right:33%;
}
td {
    text-overflow-mode: wrap;
    border: 1px black solid;
}


.fancy {
    background-color: darkkhaki;
    padding-top: 0;
}


#studentInputs {
    size: 131px 113px;
    margin-top: -14%;
    height : 100%;
}

#teacherInputs {
    size: 131px 113px;
    margin-top: -14%;
    height : 100%;
}

.searcher {
    display: none;
}

.studentTable {
    border: none;
    margin-left: 20%;
}

.displayStudents {
    padding-right: 45%;
}

#searchMain {
    position: relative;
}